/*member_list.css*/
.wrap{
	width: calc(100% - 220px);
	margin-left: 220px;
	box-sizing: border-box;
	padding: 50px;
	position: relative;
}
.wrap > h1{
	font-size: 24px;
	color: #5f0080;
	font-weight: 500;
}
.wrap > h1 > i{
	margin-right: 10px;
}
.search_area{
	position: absolute;
	right: 50px;
	top: 50px;
}
.search_area *{
	display: inline-block;
}
.search_area input, .search_area select{
	width: 110px;
	height: 30px;
	border: 1px solid #ccc;
	border-radius: 5px;
	outline: none;
	padding: 0;
	box-sizing: border-box;
	padding: 5px 15px;
}
.search_date{
	margin-right: 20px;
}
#search{
	background-color: #5f0080;
	color: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	width: 80px;
	height: 30px;
	top: 2px;
}
.search_date span{
	font-size: 14px;
	vertical-align: middle;
}
.contents_header{
	overflow: hidden;
	border-bottom: 1px solid #ccc;
}
.member_contents{
	margin-top: 30px;
}
.member_item{
	overflow: hidden;
	border-bottom: 1px solid #eee;
	position: relative;
}
.modify{
	position: absolute;
	right: 35px;
	top: 20px;
	color: #333;
}
.delete{
	position: absolute;
	right: 5px;
	top: 20px;
	color: #333;
}
.contents_header div{
	font-weight: 500;
}
.contents_header div, 
.member_item div{
	text-align: center;
	padding: 20px 10px;
	float: left;
	font-size: 14px;
}
.contents_header div:nth-child(1),
.member_item div:nth-child(1){
	width: 100px;
}
.contents_header div:nth-child(2),
.member_item div:nth-child(2){
	width: 260px;
}
.contents_header div:nth-child(3),
.member_item div:nth-child(3){
	width: calc(100% - 1200px);

}
.contents_header div:nth-child(4),
.member_item div:nth-child(4){
	width: 120px;
}
.contents_header div:nth-child(5),
.member_item div:nth-child(5){
	width: 120px;
}
.contents_header div:nth-child(6),
.member_item div:nth-child(6){
	width: 120px;
}
.contents_header div:nth-child(7),
.member_item div:nth-child(7){
	width: 120px;
}
.contents_header div:nth-child(8),
.member_item div:nth-child(8){
	width: 120px;
}
.pager_area{
	text-align: center;
	margin-top: 30px;
}
.pager_area > *{
	display: inline-block;
}
.pagers{
 	font-size: 0; 
}
.pagers a{
	display: inline-block;
	width: 20px;
	font-size: 16px;
	text-align: center;
	text-decoration: none;
	color: #000;
}
.pagers a.current{
	font-weight: 700;
	text-decoration: underline;
}
.pager_area button{
	background-color: transparent;
	border: 0;
	color: #555;
}
#prev-10 i, #next-10 i{
	letter-spacing: -7px;
}
.modify i:last-child{
	display:none;
}