/*prod_add_modal.css*/
.product_add_modal{
	display:none;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index:999;
	left: 0;
	top: 0;
}
.product_add_content{
	width: 450px;
	background-color: #fff;
	position: absolute;
	left: 50%;
	margin-left: -175px;
	top: 30px;
	padding: 30px;
}
.filter_area{
	font-size: 0;
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
}
.filter_area > select{
	width: 50%;
	box-sizing: border-box;
	padding: 10px;
	font-size: 18px;
	border: 0;
	font-family: 'Noto Sans KR';
	outline: none;
}
.search_area{
	font-size: 0;
}
.search_area > input{
	width: calc(100% - 110px);
	box-sizing: border-box;
	padding: 10px;
	font-size: 18px;
	border: 0;
	border-bottom: 1px solid #aaa;
	outline: none;
	margin-right: 10px;
	font-family: 'Noto Sans KR';
	padding-left: 15px;
}
.search_area > button {
	width: 100px;
	box-sizing: border-box;
	padding: 10px;
	font-size: 18px;
	border: 0;
	outline: none;
	font-family: 'Noto Sans KR';
	border-radius: 5px;
	color: #fff;
	background-color: #600080;
}
.modal_prod_head, .modal_prod_item{
	overflow: hidden;
}
.modal_prod_head > div, .modal_prod_item > div{
	float: left;
	box-sizing: border-box;
	padding: 5px;
}
.modal_prod_head > div > input, .modal_prod_item > div > input {
	display: none;
}
.modal_prod_head > div > label, .modal_prod_item > div > label{
	display: inline-block;
	width: 16px;
	height: 16px;
	border-radius: 4px;
	border: 1px solid #ccc;
}
.modal_prod_head > div > input:checked + label,
.modal_prod_item > div > input:checked + label {
	background-color: #600080;
}
.modal_prod_head > div{
	font-weight: 700;
}
.modal_prod_head > div,
.modal_prod_item > div{
	text-align: center;
	padding: 15px 5px;
}
.modal_prod_item > div{
	font-weight: 400; 
}
.modal_prod_head > div:nth-child(2),
.modal_prod_item > div:nth-child(2) {
	width: 100px;
}
.modal_prod_head > div:nth-child(3),
.modal_prod_item > div:nth-child(3){
	width: 80px;
}
.modal_prod_head > div:nth-child(4),
.modal_prod_item > div:nth-child(4){
	width: 155px;
}
.modal_prod_head > div:nth-child(5),
.modal_prod_item > div:nth-child(5){
	width: 80px;
}
.modal_prod_head{
	margin-top: 10px;
	border-bottom: 1px solid #ccc;
}
.modal_prod_item{
	border-bottom: 1px solid #eee;
}
.modal_prod_item_wrap{
	max-height: 400px;
	overflow-y: scroll;
}
.modal_prod_item_wrap::-webkit-scrollbar{
	width: 7px;
}
.modal_prod_item_wrap::-webkit-scrollbar-thumb{
	border-radius: 10px;
	background-color: #fff;
	transition: background-color 0.3s;
}
.modal_prod_item_wrap:hover::-webkit-scrollbar-thumb{
	background-color: #999;
}
.modal_prod_item_wrap::-webkit-scrollbar-track{
	background-color: transparent;
}
.prod_modal_btn_area{
	text-align: center;
	border-top: 1px solid #ccc;
	padding-top: 20px;
}
.prod_modal_btn_area button{
	padding: 7px 30px;
	font-size: 18px;
	font-weight: 700;
	font-family:'Noto Sans KR';
	margin: 0 5px;
}