<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kurly.mapper.CategoryMapper">
	<insert id="insertCategory">
		INSERT INTO mk_product_category(mkpc_name) VALUES(#{name})
	</insert>
	<select id="selectCategoryByName" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM mk_product_category WHERE mkpc_name=#{name}
	</select>
	<select id="selectCategories" resultType="com.kurly.vo.CategoryVO">
		SELECT * FROM mk_product_category
	</select>
	<delete id="deleteCategory">
		DELETE FROM mk_product_category
		WHERE mkpc_seq=#{seq}
	</delete>
	<update id="updateCategory">
		UPDATE mk_product_category
		SET mkpc_name=#{mkpc_name}
		WHERE mkpc_seq=#{mkpc_seq}
	</update>
</mapper>